
extends ../layout

append nav
  if session.user.isPublisher
    a#add(href='./new/', title=_.t('Add user'))
      span.iconic.plus

block content
  .container
    .sixteen.columns
      table.table.fixed.bordered
        thead
          tr
            th= _.t('Online')
            th= _.t('Username')
            if session.user.isPublisher
              th= _.t('E-mail')
            th= _.t('Publisher')
            th= _.t('Editor')
        tbody
          each user in users
            me = user.email === session.user.email
            href = './' + user.name.user + '/edit/'
            tr
              td
                if me
                  a.edit(href=href)
                    span.iconic.pencil
                input(type='radio', checked=user.isOnline, disabled)
              td
                a(href='./'+user.name.user+'/')= user.name.user
              if session.user.isPublisher
                td
                  a(href='mailto:' + user.email)= user.email
              td
                input(type='checkbox', checked=user.isPublisher, disabled)
              td
                input(type='checkbox', checked=user.isEditor, disabled)

